@font-face {
	font-family: Vazir;
	src: url("../fonts/Vazirmatn-Bold.woff2");
	font-weight: bold;
}

@font-face {
	font-family: Vazir;
	src: url("../fonts/Vazirmatn-Regular.woff2");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Vazir, sans-serif;
	background-color: #FAFAFA;
}

#container {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	max-width: 600px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#colors {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
}

#colors div {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

#preview li{
	transition: all 0.15s ease-in-out;
}

#todos li {
	cursor: pointer;
}

#btn:hover {
    background-color: #C71729;
}

#btn:active {
    transform: scale(0.98);
}